
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.header-section{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/slider/slider2.webp);
    background-size: cover;
    background-position: center;
   }
   .navbar ul li a{
    text-decoration: none;
    color:white;
    text-transform: uppercase;
}

.navbar ul li a:hover{
    color: #caa169;
}
.navbar-toggler{
    color: white;
}
.navbar-toggler:focus{
    box-shadow: none;

}
.menu-btn{
    font-weight: 500;
    display: inline-block;
    border-radius: 30px;
    border: 1px solid #fff;
    padding: 7px 11px;
    background-color: transparent;
    transition:0.5s;
    color: white;
}
.menu-btn:hover{
    color: white !important;
    background-color: #caa169;
    border: #caa169;
}

form{
     margin: auto;
     min-width: 70%;
     background: rgba(255, 255, 255, 0.2);
     padding: 20px 30px;
     border-radius: 30px;      
}
label {
    margin: 8px 15px;
    color:white;
    opacity: 1;
}

input {
    padding: 4px;
    margin-bottom: 15px;
    border: 1px solid #fff;
    border-radius: 4px;
    background-color: transparent;
    color: #fff;
}
input::placeholder {
    color: #fff;
    opacity: 1;
  }
select{
    background: transparent;
    color:white
}

span{
    color: #caa169;
    font-weight: 700;
}

.banner-section{
    height: 80vh;
    align-items: center;
}


.about-btn{
    color: black;
    font-weight: 500;
    display: inline-block;
    border-radius: 22px;
    border: 1px solid #021832;
    padding: 10px 15px;
    background-color: transparent;
    transition:0.5s;
}
.about-btn:hover{
    background-color: #caa169;
    color: #fff;
}

.card-img img{
    min-width: 50%;
    max-height: 250px;
    border: 1px solid #caa169;
    transition: all 400ms ease-in;
}
.rooms-section .room-items img{
    width: 100%;
    
}
